<div data-role="view" data-title="Create" data-layout="main" data-model="app.createPromo" data-show="app.createPromo.onShow" data-after-show="app.createPromo.afterShow">
    <div id="createPromoModel" class="form-view">
        <form>
            <ul class="form-content" data-role="listview" data-style="inset">
                <li>
                    <label>Description
                        <input data-bind="value: createPromoModel.fields.description" placeholder="Enter description" type="text">
                    </label>
                </li>
                <li>
                    <label>Buy date
                        <input data-bind="value: createPromoModel.fields.startBuy" type="date">
                    </label>
                </li>
                <li>
                    <label>To
                        <input data-bind="value: createPromoModel.fields.endBuy" type="date">
                    </label>
                </li>
                <li>
                    <label>Customer
                        <select data-bind="value: createPromoModel.fields.customerList" data-role="dropdownlist">
                            <option value="First Option">First Option</option>
                            <option value="Second Option">Second Option</option>
                            <option value="Third Option">Third Option</option>
                        </select>
                    </label>
                </li>
                <li>
                    <label>Deal
                        <select data-bind="value: createPromoModel.fields.dealList" data-role="dropdownlist">
                            <option value="First Option">First Option</option>
                            <option value="Second Option">Second Option</option>
                            <option value="Third Option">Third Option</option>
                        </select>
                    </label>
                </li>
                <li>
                    <label>Min. qty
                        <input data-bind="value: createPromoModel.fields.minimumQuantity" type="number">
                    </label>
                </li>
                <li>
                    <label>Discount%
                        <input data-bind="value: createPromoModel.fields.discountPercentage" type="number">
                    </label>
                </li>
            </ul>

            <div class="button-group">
                <a data-role="button" data-bind="events: { click: createPromoModel.cancel }">Cancel</a>
                <a class="primary" data-role="button" data-bind="events: { click: createPromoModel.submit }">Confirm</a>
            </div>
        </form>
        <!-- START_CUSTOM_CODE_createPromoModel -->
        <!-- END_CUSTOM_CODE_createPromoModel -->
    </div>
    <!-- START_CUSTOM_CODE_createPromo -->
    <!-- END_CUSTOM_CODE_createPromo -->
</div>